<footer class="site-footer bg-washed-gray">
  <div class="container-fluid container-boxed">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <p class="mb-2">
          <a class="footer-logo" href="/" title="Greenhouse" rel="home">
            <noscript>
              <img
                src="/img/logo_svg.svg"
                class="img-fluid"
                alt="Greenhouse Agency"
              />
            </noscript>
            <img
              src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
              data-src="/img/logo_svg.svg"
              class="lazyload img-fluid"
              alt="Greenhouse Agency"
            />
          </a>
        </p>
        <p class="mb-1">
          <small
            >&#169; 2021 All Rights Reserved,<a href="/">
              PVS Sustainable Services</a
            >
          </small>
        </p>
        <div class="mb-2">
          <nav class="navigation copyright-navigation clearfix">
            <ul
              id="menu-copyright-navigation"
              class="nav-menu clearfix hidden-sm-down"
            >
              <li
                id="menu-item-370"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-370"
              >
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
          </nav>
        </div>
        <nav class="social-nav clearfix">
          <ul class="menu clearfix">
            <li>
              <a href="#" title="Greenhouse Facebook" target="_blank">
                <i class="fab fa-facebook-square"> </i>
              </a>
            </li>
            <li>
              <a href="#" title="Greenhouse Twitter" target="_blank">
                <i class="fab fa-twitter"> </i>
              </a>
            </li>
            <li>
              <a href="#" title="Greenhouse LinkedIn" target="_blank">
                <i class="fab fa-linkedin"> </i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="col-12 col-sm-12 col-md-2 offset-lg-1 offset-xl-2 justify-content-md-end d-none d-md-flex"
      >
        <div class="col-inner">
          <nav class="navigation footer-navigation clearfix">
            <ul
              id="menu-footer-navigation"
              class="nav-menu clearfix hidden-sm-down"
            >
              <li
                id="menu-item-366"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366"
              >
                <a href="/">Home</a>
              </li>
              <li
                id="menu-item-367"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-367"
              >
                <a href="/services">Services</a>
              </li>
              <li
                id="menu-item-365"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365"
              >
                <a href="/about">About</a>
              </li>
              <li
                id="menu-item-368"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"
              >
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 d-none d-md-flex">
        <div class="contact-blocks">
          <div class="contact-block d-flex mb-4">
            <div class="mr-2">
              <noscript>
                <img src="/img/icons/icon-contact.svg" alt="" />
              </noscript>
              <img
                class="lazyload"
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                data-src="/img/icons/icon-contact.svg"
                alt=""
              />
            </div>
            <div>
              <p class="h5 text-black">Contact Us</p>
              <a
                class="btn btn-black-ghost btn-uppercase btn-md"
                href="/contact"
                >Say Hello</a
              >
            </div>
          </div>
          <div class="address-block d-flex">
            <div class="mr-1">
              <noscript>
                <img src="/img/icons/icon-location.svg" alt="" />
              </noscript>
              <img
                class="lazyload"
                src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                data-src="/img/icons/icon-location.svg"
                alt=""
              />
            </div>
            <div>
              <p class="h5 text-black">Our Office</p>
              <p class="sm mb-0">
                <a class="link-black" target="_blank"
                  >Mangal Nagar, Dhamnod <br />
                  Dhar, Indore, 454552</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
