<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      media="all"
      href="https://ghagency.com/wp-content/cache/autoptimize/css/autoptimize_7f0a808988bf65109670308fc9425146.css"
      rel="stylesheet"
    />
    <title>PVS | CONTACT</title>
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <link media="all" href="/stylesheets/autouptimize.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/2628cbbd79.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="//fast.fonts.net/cssapi/337cd3fc-eb86-4d02-a3e8-efa19d6e20d2.css"
    />
    <link rel="stylesheet" href="https://use.typekit.net/kpn8fni.css" />
    <script type="text/javascript">
      window.wpglobals = {
        ajaxURL: "https://ghagency.com/wp-admin/admin-ajax.php",
      };
    </script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="dns-prefetch" href="//s.w.org" />
    <script
      type="text/javascript"
      src="https://ghagency.com/wp-includes/js/jquery/jquery.min.js?ver=3.5.1"
      id="jquery-core-js"
    ></script>
    <script type="text/javascript">
      var _hsq = _hsq || [];
      _hsq.push(["setContentType", "standard-page"]);
    </script>
    <script>
      (function () {
        var hbspt = (window.hbspt = window.hbspt || {});
        hbspt.forms = hbspt.forms || {};
        hbspt._wpFormsQueue = [];
        hbspt.enqueueForm = function (formDef) {
          if (hbspt.forms && hbspt.forms.create) {
            hbspt.forms.create(formDef);
          } else {
            hbspt._wpFormsQueue.push(formDef);
          }
        };
        if (!window.hbspt.forms.create) {
          Object.defineProperty(window.hbspt.forms, "create", {
            configurable: true,
            get: function () {
              return hbspt._wpCreateForm;
            },
            set: function (value) {
              hbspt._wpCreateForm = value;
              while (hbspt._wpFormsQueue.length) {
                var formDef = hbspt._wpFormsQueue.shift();
                if (!document.currentScript) {
                  var formScriptId = "leadin-forms-v2-js";
                  hubspot.utils.currentScript =
                    document.getElementById(formScriptId);
                }
                hbspt._wpCreateForm.call(hbspt.forms, formDef);
              }
            },
          });
        }
      })();
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-89383005-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-89383005-1");
    </script>
  </head>
  <body class="home page-template-default page page-id-2">
    <%- include('./header'); %>
    <main class="site-main" id="main">
      <section
        class="section section-bottom-padding-normal section-top-padding-extra section-header bg-white"
      >
        <div class="container-fluid container-boxed">
          <div class="row">
            <div class="col-12 col-12 col-sm-8">
              <div class="col-inner">
                <h1 class="text-left text-black style-sans-serif mt-0 mb-0">
                  Contact
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="section section-bottom-padding-none section-top-padding-none section-header bg-white"
      >
        <div class="container-fluid container-boxed">
          <div class="row">
            <div class="col-12 col-12 col-sm-8">
              <div class="col-inner">
                <h3 class="text-left text-dark-gray style-serif mt-0 mb-0">
                  Interested in learning more?
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div
        class="section section-wrapper section-bottom-padding-normal section-top-padding-normal container-fluid container-boxed bg-transparent"
      >
        <div
          class="section section-wrapper section-bottom-padding-none section-top-padding-none row bg-transparent"
        >
          <section
            class="section section-bottom-padding-none section-top-padding-none section-header col-12 col-md-8 bg-white"
          >
            <div class="container-fluid no-margins">
              <div class="row">
                <div class="col-12">
                  <!--[if lte IE 8]>
                    <script
                      charset="utf-8"
                      type="text/javascript"
                      src="//js.hsforms.net/forms/v2-legacy.js"
                    ></script>
                  <![endif]-->
                  <script
                    charset="utf-8"
                    type="text/javascript"
                    src="//js.hsforms.net/forms/v2.js"
                  ></script>

                  <div
                    class="hbspt-form"
                    id="hbspt-form-1612531063018-4517035451"
                  >
                    <form class="php-email-form" action="sign_up" method="post">
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <input
                            type="text"
                            name="firstName"
                            class="half_input"
                            id="firstName"
                            placeholder="First Name"
                            data-rule="minlen:4"
                            data-msg="Please enter at least 4 chars"
                          />
                          <div class="validate"></div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <input
                            type="text"
                            class="half_input"
                            name="lastName"
                            id="lastName"
                            placeholder="Last Name"
                            data-rule="minlen:4"
                            data-msg="Please enter at least 4 chars"
                          />
                          <div class="validate"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <input
                            type="text"
                            name="companyName"
                            class="half_input"
                            id="companyName"
                            placeholder="Company Name"
                            data-rule="minlen:4"
                            data-msg="Please enter at least 4 chars"
                          />
                          <div class="validate"></div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <input
                            type="text"
                            class="half_input"
                            name="jobTitle"
                            id="jobTitle"
                            placeholder="Job Title"
                            data-rule="minlen:4"
                            data-msg="Please enter at least 4 chars"
                          />
                          <div class="validate"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <input
                            type="tel"
                            class="half_input"
                            id="number"
                            name="number"
                            placeholder="Number"
                            data-msg="Please enter a valid number"
                          />
                          <div class="validate"></div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <input
                            type="email"
                            class="half_input"
                            name="email"
                            id="email"
                            placeholder="Email"
                            data-rule="email"
                            data-msg="Please enter a valid email"
                          />
                          <div class="validate"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <textarea
                            class="message_input"
                            name="message"
                            rows="5"
                            data-rule="required"
                            data-msg="Please write something for us"
                            placeholder="Message"
                          ></textarea>
                          <div class="validate"></div>
                        </div>
                      </div>
                      <div class="mb-3 ml-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">
                          Your message has been sent. Thank you!
                        </div>
                      </div>

                      <div class="primary large">
                        <button class="hs-button" type="submit">
                          Send Message
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="section section-bottom-padding-none section-top-padding-normal section-general-content col-12 col-md-4 pt-6 bg-white"
          >
            <div class="container-fluid container-boxed">
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="col-inner">
                    <div class="content-area clearfix">
                      <div class="address-block d-flex">
                        <div class="mr-1">
                          <noscript>
                            <img
                              src="https://ghagency.com/wp-content/themes/greenhouse/assets/img/icon-location.svg"
                              alt=""
                            />
                          </noscript>
                          <img
                            class="ls-is-cached lazyloaded"
                            src="https://ghagency.com/wp-content/themes/greenhouse/assets/img/icon-location.svg"
                            data-src="https://ghagency.com/wp-content/themes/greenhouse/assets/img/icon-location.svg"
                            alt=""
                          />
                        </div>
                        <div>
                          <p class="h5 text-black">Our Office</p>
                          <p class="sm mb-0">
                            <a
                              class="link-black"
                              href="https://goo.gl/maps/Anm5nCsWKpdNRRwi7"
                              target="_blank"
                              >1025 Greenwood Blvd, Suite 201 <br />
                              Lake Mary, FL 32746</a
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <%- include('./footer'); %>

    <noscript>
      <style>
        .lazyload {
          display: none;
        }
      </style>
    </noscript>
    <script data-noptimize="1">
      window.lazySizesConfig = window.lazySizesConfig || {};
      window.lazySizesConfig.loadMode = 1;
    </script>
    <script async data-noptimize="1" src="/js/lazysizes.min.js"></script>
    <script type="text/javascript" id="leadin-script-loader-js-js-extra">
      var leadin_wordpress = {
        userRole: "visitor",
        pageType: "home",
        leadinPluginVersion: "7.50.64",
      };
    </script>
    <script
      type="text/javascript"
      src="https://js.hs-scripts.com/172795.js?integration=WordPress"
      async
      defer
      id="hs-script-loader"
    ></script>

    <script defer src="/js/autoptimize.js"></script>
    <script src="/js/validate.js"></script>
  </body>
</html>
